.background-image-1 {
    background-image: url('https://materiah1.s3.eu-central-1.amazonaws.com/design/3616399.jpg'); /* Path to your image */
    background-size: cover; /* Cover the entire area of the component */
    background-position: center; /* Center the image */
    height: 700px; /* Set a height */
    width: 100%; /* Set a width */
}

.background-image-2 {
    position: relative; /* Required for absolute positioning of pseudo-element */
    background-image: url('https://materiah1.s3.eu-central-1.amazonaws.com/design/5098401.jpg'); /* Your background image */
    background-size: cover;
    background-position: center;
    height: 700px; /* Example height */
    width: 100%; /* Example width */
}

.background-image-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: -1;
}

.background-image-3 {
    background-image: url('https://materiah1.s3.eu-central-1.amazonaws.com/design/5116194.jpg'); /* Path to your image */
    background-size: cover; /* Cover the entire area of the component */
    background-position: center; /* Center the image */
    height: 700px; /* Set a height */
    width: 100%; /* Set a width */
}
