/*
Applies a bottom-margin to fields, ideal for keeping vertical rhythm in form layouts
*/
.field-margin {
    margin-bottom: 1rem;
}

/*
Makes an icon larger than usual for prominent visual elements
*/
.large-icon {
    font-size: 36px;
}

/*
Rounds the right-side corners of a button
*/
.rounded-edge-button-right {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.bold-checkbox input[type="checkbox"] {
    height: 20px; /* Increase size */
    width: 20px; /* Increase size */
    /*border-color: black; !* Change border color *!*/
    /*background-color: #f0f0f0; !* Light background color *!*/
}

.in-use-row {
    background-color: #fafa58; /* Light background color */
}

.modal-90w {
    width: 100%; /* Set the width of the modal */
    max-width: none; /* Override the default max-width */
}