.login-box-style {
    position: relative;
    padding: 4px;
    border-radius: 10px;
    background-color: #c9e5d6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.background-image-login {
    position: relative;
    background-image: url('https://materiah1.s3.eu-central-1.amazonaws.com/design/5098401.jpg');
    background-size: cover;
    background-position: center;
}

.bordered-shadow-container {
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.background-image-user {
    background-image: url('https://materiah1.s3.eu-central-1.amazonaws.com/design/5098401.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.overlay-user {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}


.content-user {
    position: relative;
    z-index: 2;
}